.row-cols-md-2{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
.titleText{
    font-weight: bold;
    text-align: center;
}
.images{
    width:30px;
    cursor: pointer;
    height: 30px;
}
.overlay{
    cursor: pointer;
}
.card-body{
    border-radius: 5px;
    box-shadow: 1px 1px grey;
}