#About{
    margin-top: 270px;
    background-color: #02aab0;
    background-image: linear-gradient(135 deg, #02aab0 0%, #00cdac 100%);
    color: #fff;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    border-top: 0;
    height: 100%;
    padding-bottom: 8%;
}
#About .textLine1{
    margin-top: 30px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}
#About .photoTextFlexing{
    margin-left: 190px;
    margin-right: 190px;
    display: flex;
}
#About .textLine2{
    font-size: 18px;
}
#About .textLine3{
    text-decoration: underline ; 
    color: white;
}
#About .textLine4{
    margin-left: 50px;
}
#About .photoTextFlexingButtons{
    display: flex;
}
#About .photoTextFlexingButtons .button1 .button{
    margin-right: 30px;
    color: white;
    font-size: 18px;
}
#About .photoTextFlexingButtons .button2 .button{
    color: white;
    font-size: 18px;
}
.custom-modal-style {
    margin-right: 300px;
    width: 40vw;
    height: 90vh;
}