#Projects .projectImages{
    margin-top: 20px;
    margin-left:10%;
    padding-bottom: 100px;
    width: 80%;
    height: 100%;
    @media (max-width: 767px) {
        margin-top:0;
        margin-left:0%;
    }
    @media (max-width: 400px) {
        margin-top:0;
        margin-left:0%;
    }
}
#Projects .projectLiveButtonContainer{
    display: flex;
}
#Projects .projectLiveButtonContainer .documentImage .projectImages{
    margin-top: 1.2%;
    margin-left: 20px;
    width: 4%;
    cursor: pointer;
}