#home{
    margin-left: 10%;
    margin-top: 13.5%;
}
#home .linkContainer{
    margin-top: 30px;
    margin-bottom: 10px;
}
#home .image{
    width: 40px;
    height: 40px;
    margin-right: 40px;
    margin-bottom: 20px;
}
#home .textLine2{
    color: #00cdac;
}
#home .textLine1{
    font-weight: bold;
    font-size: 50px;
}
#home .button{
    font-size: 20px;
}